XCEDE/xcede-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Dan Marcus (Washington University) -->
<xs:schema xmlns="http://www.nbirn.net/xcede" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.nbirn.net/xcede" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink-ns.xsd"/>
	<xs:element name="Xcede">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="annotation" type="annotation_t" minOccurs="0"/>
				<xs:element name="history" minOccurs="0">
					<xs:annotation>
						<xs:documentation>container for document revision history</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="revision" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="timestamp" type="xs:dateTime"/>
										<xs:element name="generator" type="generator_t"/>
										<xs:element name="annotation" type="annotation_t"/>
									</xs:sequence>
									<xs:attribute name="ID" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="personnel" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="person" type="person_t" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="project" type="project_t" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="subject" type="subject_t" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="project_t">
		<xs:complexContent>
			<xs:extension base="abstract_container_t">
				<xs:sequence>
					<xs:element name="description" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">This element stores free-form text describing a research project, its goals, and perhaps a list of principal investigators and their affiliations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="funding" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">This element stores free-form text describing the funding sources for the research project.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="keyPersonnel" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="keyPerson" type="keyPerson_t" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="subject_t">
		<xs:complexContent>
			<xs:extension base="abstract_container_t">
				<xs:sequence>
					<xs:element name="subjectInfo" type="abstractSubjectInfo_t" minOccurs="0"/>
					<xs:element name="visitList" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Do we want this container or is it superfluous?</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="visit" type="visit_t" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="visit_t">
		<xs:complexContent>
			<xs:extension base="abstract_container_t">
				<xs:sequence>
					<xs:element name="projectRef" type="xlink:href" minOccurs="0"/>
					<xs:element name="visitInfo" type="abstractVisitInfo_t" minOccurs="0"/>
					<xs:element name="studyList" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="study" type="abstract_study_t" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstract_study_t" abstract="true">
		<xs:complexContent>
			<xs:extension base="abstract_container_t">
				<xs:sequence>
					<xs:element name="dataAcquisition" type="abstract_dataAcquisition_t" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="study_t">
		<xs:complexContent>
			<xs:extension base="abstract_study_t"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="mr_study_t">
		<xs:complexContent>
			<xs:extension base="abstract_study_t"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstract_dataAcquisition_t" abstract="true">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A string identifier that uniquely identifies this series.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expProtocol" type="expProtocol_t" minOccurs="0"/>
			<xs:element name="acqProtocol" type="acqProtocol_t" minOccurs="0"/>
			<xs:element name="datarec" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mr_series_t">
		<xs:complexContent>
			<xs:extension base="abstract_dataAcquisition_t"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="investigator_t">
		<xs:complexContent>
			<xs:extension base="person_t"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstract_container_t" abstract="true">
		<xs:sequence>
			<xs:element name="annotation" type="annotation_t" minOccurs="0"/>
			<xs:element name="investigatorRef" type="xlink:href" minOccurs="0"/>
			<xs:element name="resourceList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource" type="abstract_resource_t" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID"/>
		<xs:attribute name="rev" type="xs:string">
			<xs:annotation>
				<xs:documentation>Revision number, should correspond with an appropriate revision ID in the XCEDE/history element</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="annotation_t">
		<xs:sequence>
			<xs:element name="annotator">
				<xs:annotation>
					<xs:documentation>The person or application that generated this annotation</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="person" type="xlink:href"/>
						<xs:element name="application" type="xs:string"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="timeStamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="text" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="generator_t">
		<xs:sequence>
			<xs:element name="application">
				<xs:annotation>
					<xs:documentation>Program used to generate document</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="version" type="xs:string">
								<xs:annotation>
									<xs:documentation>Version number of generating application</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="invocation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Application input required to generate this document. Should be explicit such that this document can be re-generated from this info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataSource" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description of data source with version numbers and/or  timestamp of data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="scanner_t">
		<xs:sequence>
			<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
			<xs:element name="model" type="xs:string" minOccurs="0"/>
			<xs:element name="additionalEquipment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="annotation" type="annotation_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acqProtocol_t">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="taxonomicClass" type="taxonomicClass_t" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="acqParam" type="xs:anySimpleType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Should be protocolDescriptor_t</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotation" type="annotation_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="expProtocol_t">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="taxonomicClass" type="taxonomicClass_t" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="events" type="events_t" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="annotation" type="annotation_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="taxonomicClass_t">
		<xs:sequence>
			<xs:element name="scheme" type="xs:string"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="fullPath" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="events_t">
		<xs:sequence>
			<xs:element name="params" type="eventparams_t" minOccurs="0"/>
			<xs:element name="event" type="event_t" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="annotation" type="annotation_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="event_t">
		<xs:sequence>
			<xs:element name="onset" type="xs:float" minOccurs="0"/>
			<xs:element name="duration" type="xs:float" minOccurs="0"/>
			<xs:element name="value" type="eventvalue_t" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="annotation" type="annotation_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="units" type="xs:string" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="eventvalue_t">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="number"/>
							<xs:enumeration value="string"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="eventparams_t">
		<xs:sequence>
			<xs:element name="firstmritime" type="xs:float" minOccurs="0"/>
			<xs:element name="value" type="eventvalue_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="person_t">
		<xs:annotation>
			<xs:documentation>Add additional fields (address, email, etc)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="salutation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>e.g. Dr., Mr., Mrs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstname" type="xs:string"/>
			<xs:element name="middleInitial" minOccurs="0"/>
			<xs:element name="lastname" type="xs:string"/>
			<xs:element name="academicTitles" minOccurs="0"/>
			<xs:element name="institution" type="xs:string" minOccurs="0"/>
			<xs:element name="department" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="keyPerson_t">
		<xs:attribute name="personRef" type="xlink:href"/>
		<xs:attribute name="role" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="processStep_t">
		<xs:sequence>
			<xs:element name="package" type="versionedEntity_t" minOccurs="0"/>
			<xs:element name="program" type="versionedEntity_t"/>
			<xs:element name="programInvocation" type="mixedType_t"/>
			<xs:element name="timeStamp" type="mixedType_t"/>
			<xs:element name="cvs" type="mixedType_t" minOccurs="0"/>
			<xs:element name="user" type="mixedType_t"/>
			<xs:element name="machine" type="mixedType_t"/>
			<xs:element name="platform" type="versionedEntity_t"/>
			<xs:element name="compiler" type="versionedEntity_t"/>
			<xs:element name="library" type="versionedEntity_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="provenance_t">
		<xs:annotation>
			<xs:documentation>Note: sourceData should be included along with application parameters and configuration values</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="processStep" type="processStep_t" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="mixedType_t" mixed="true"/>
	<xs:complexType name="versionedEntity_t">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="version" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="derivedProduct_t">
		<xs:sequence>
			<xs:element name="provenance" type="provenance_t" minOccurs="0"/>
			<xs:element name="annotation" type="annotation_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="derivedStatistic_t">
		<xs:complexContent>
			<xs:extension base="derivedProduct_t"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="derivedData_t">
		<xs:complexContent>
			<xs:extension base="derivedProduct_t"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstract_resource_t">
		<xs:attributeGroup ref="ID_name_description"/>
	</xs:complexType>
	<xs:complexType name="resource_uri_t">
		<xs:complexContent>
			<xs:extension base="abstract_resource_t">
				<xs:sequence>
					<xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resource_uri_list_t">
		<xs:complexContent>
			<xs:extension base="abstract_resource_t">
				<xs:sequence>
					<xs:element name="uriList" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="uri" type="xs:anyURI" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstractProtocol" abstract="true">
		<xs:attributeGroup ref="ID_name_description"/>
	</xs:complexType>
	<xs:complexType name="assessmentProtocol">
		<xs:complexContent>
			<xs:extension base="abstractProtocol">
				<xs:sequence>
					<xs:element name="measurementDefinitions" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="measurementDefinition" type="abstractMeasurementDefinition" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="measurementGroupDefinition" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="measurmentGroupDefinition" type="abstractMeasurementGroupDefinition" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="imagingProtocol"/>
	<xs:complexType name="protocolGroup">
		<xs:sequence>
			<xs:element name="protocolItem" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="protocolID"/>
					<xs:attribute name="sequenceNumber" type="xs:integer"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ID_name_description"/>
	</xs:complexType>
	<xs:complexType name="measurementDefinition">
		<xs:sequence>
			<xs:element name="type" type="xs:string">
				<xs:annotation>
					<xs:documentation>'type' describes the expected values for this measurement (e.g. integer, double). This should be enumerated or something.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referencePublication" type="xs:string">
				<xs:annotation>
					<xs:documentation>'referencePublication' describes the publication that establishes a definition, usage, background, etc. for this measure.  referencePublicatoin should be of a 'publicationResource' type derived from abstractResource taht includes a pubmed ID, DOI, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ID_name_description"/>
	</xs:complexType>
	<xs:complexType name="measurementGroupDefinition">
		<xs:sequence>
			<xs:element name="measurementDefinitionItem">
				<xs:complexType>
					<xs:attribute name="definitionID" type="xs:string">
						<xs:annotation>
							<xs:documentation>'definitionID' is a reference to a measurementDefinition</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="sequenceNumber" type="xs:integer"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ID_name_description"/>
	</xs:complexType>
	<xs:attributeGroup name="ID_name_description">
		<xs:attribute name="ID" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="description" type="xs:string"/>
	</xs:attributeGroup>
	<xs:complexType name="studyDefinition">
		<xs:sequence>
			<xs:element name="protocolGroups">
				<xs:complexType>
					<xs:attribute name="protocolGroupID" type="xs:string"/>
					<xs:attribute name="sequenceNumber" type="xs:integer"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="protocol"/>
		</xs:sequence>
		<xs:attributeGroup ref="ID_name_description"/>
	</xs:complexType>
	<xs:complexType name="abstractStudyDefinition_t">
		<xs:attributeGroup ref="ID_name_description"/>
	</xs:complexType>
	<xs:complexType name="CDISCStudyWrapper">
		<xs:complexContent>
			<xs:extension base="abstractStudyDefinition_t">
				<xs:sequence>
					<xs:element name="CDISCStudy"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstractSubjectInfo_t" abstract="true"/>
	<xs:complexType name="abstractVisitInfo_t" abstract="true"/>
</xs:schema>
